{{ define "friend_form" }}
<form action="/" method="post">
    <div><label for="name">Name:</label> <input name="name" /></div>
    <div><label for="email">Email:</label> <input name="email" /></div>
    <button type="submit">Befriend!</button>
</form>
{{ end }}
