{{ define "index" }}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>@BFC_APP_DOMAIN@</title>
    <meta name="description" content="@BFC_APP_DOMAIN@" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h1>My friends:</h1>
    {{ template "friend_list" . }}
    {{ template "friend_form" . }}
</body>

</html>

{{ end }}
